= div_for product do |product|
  .name
    = link_to product.name, product
  .description
    = product.description
  .asking_price
    = number_to_currency(product.asking_price)
  .reserve_price
    = number_to_currency(product.reserve_price)
  .time_left
    - if product.time_left > 0
      = (time_ago_in_words(product.auction_end_time) + " left").sub("about ", "")
    - else
      closed
